.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
  border-top: 2px solid #6ca5ff;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}